body {
    background-color: #eee;
}

td, th {
    padding: 2px 8px;
    text-align: right;
}

th {
    border-bottom: 1px solid #777;
}

td:nth-child(2), th:nth-child(2) {
    background-color: #eee;
}

.page {
    width: 400px;
    background-color: white;
    margin: 12px auto;
    padding: 20px;
}

h2 {
    margin-top: 0;
}
ch