@model Benford.Models.BenfordResult

<h2>Benford's Law</h2>
<p><a href="https://en.wikipedia.org/wiki/Benford%27s_law">About</a></p>
<p>Data Source: <strong>@Model.Name</strong></p>

<table>
    <tr>
        <th>Digit</th>
        <th>Actual</th>
        <th>Theoretical</th>
    </tr>
    @foreach (var i in Enumerable.Range(0, 9))
    {
        <tr>
            <td>@(i + 1)</td>
            <td>@Model.Actual[i].ToString("##.0%")</td>
            <td>@Benford.Models.BenfordResult.Theoretical[i].ToString("##.0%")</td>
        </tr>
    }
</table>
